version: '3.8'
services:
  backend:
    image: backend:latest
    container_name: backend
    restart: always
    build:
      context: ./alekhin
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./media:/app/media
      - ./config:/app/config
      - ./alekhin:/app
      # - ./db.sqlite3:/app/db.sqlite3
  admin:
    image: admin:latest
    container_name: admin
    build:
      context: ./alekhin-clinic_admin_frontend/
      dockerfile: Dockerfile
    ports:
      - "3001:3000"
  frontend:
    image: frontend:latest
    container_name: frontend
    build:
      context: ./alekhin-clinic_frontend
      dockerfile: Dockerfile
    ports:
      - "3002:3000"
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
  data:
  media:
  config:
  alekhin:
  db.sqlite3: