version: '3.8'
services:
  backend:
    image: backend:latest
    container_name: backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./media:/app/media
      - ./config:/app/config
      - ./db.sqlite3:/app/db.sqlite3
  admin:
    image: admin:latest
    container_name: admin
    build:
      context: alekhin-clinic_admin_frontend
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
  frontend:
    image: frontend:latest
    container_name: frontend
    build:
      context: alekhin-clinic_frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"