version: '3.8'
services:
  alekhin:
    image: alekhin:latest
    container_name: alekhin
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
    environment:
      - ENV_VAR=example_value
    networks:
      - alekhin_network